
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  background-color: #f8fafc;
}

nav {
  background-color: #14532d;
  padding: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
